/* Prefix class
    container
    row - flex 
    col - padding left, right
    s - small (mobile resolution from 0px -> 575px)
    sm - small medium (landscape mobile resolution from 576px -> 768px)  
    m - medium (tablet resolution from 768px -> 991px)
    ml - medium large (tablet. pc low resolution from 992px -> 1199px)
    l - large (pc resolution >= 1200px)
*/
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-left: 4px;
    padding-right: 4px;
}

.row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}

/* PC lagre resolution */
@media (min-width: 1200px) {
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .l-0 {
        display: none;
    }

    .l-1,
    .l-2,
    .l-2-4,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-8,
    .l-9,
    .l-10,
    .l-11,
    .l-12 {
        display: block;
    }

    .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Tablet & PC low resolution */
@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 960px;
        margin: 0 auto;
    }

    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .ml-0 {
        display: none;
    }

    .ml-1,
    .ml-2,
    .ml-3,
    .ml-4,
    .ml-5,
    .ml-6,
    .ml-7,
    .ml-8,
    .ml-9,
    .ml-10,
    .ml-11,
    .ml-12 {
        display: block;
    }

    .ml-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .ml-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .ml-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .ml-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .ml-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .ml-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .ml-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .ml-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .ml-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .ml-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .ml-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .ml-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 720px;
        margin: 0 auto;
    }

    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .m-0 {
        display: none;
    }

    .m-1,
    .m-2,
    .m-3,
    .m-4,
    .m-5,
    .m-6,
    .m-7,
    .m-8,
    .m-9,
    .m-10,
    .m-11,
    .m-12 {
        display: block;
    }

    .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Landscape mobile */
@media (min-width: 576px) and (max-width: 767px) {
    .container {
        width: 540px;
        margin: 0 auto;
    }

    .sm-1,
    .sm-2,
    .sm-3,
    .sm-4,
    .sm-5,
    .sm-6,
    .sm-7,
    .sm-8,
    .sm-9,
    .sm-10,
    .sm-11,
    .sm-12 {
        display: block;
    }

    .sm-0 {
        display: none;
    }

    .sm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .sm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .sm-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Mobile */
@media screen and (max-width: 575px) {
    .container {
        width: 95%;
        margin: 0 auto;
    }

    .col {
        padding-left: 10px;
        padding-right: 10px;
    }

    .s-0 {
        display: none;
    }

    .s-1,
    .s-2,
    .s-3,
    .s-4,
    .s-5,
    .s-6,
    .s-7,
    .s-8,
    .s-9,
    .s-10,
    .s-11,
    .s-12 {
        display: block;
    }

    .s-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .s-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .s-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .s-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .s-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .s-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .s-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .s-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .s-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .s-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .s-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .s-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}