canvas {
    vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    background-image: url(particles.css);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}